params {
    // Definizione dei percorsi per AWS iGenomes
    // Usiamo params.igenomes_base così se qualcuno ha i dati in locale 
    // può cambiare la velocità da "internet" a "disco" in un secondo.
    genomes {
       'GRCh38' {
            fasta       = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/WholeGenomeFasta/genome.fa"
            bowtie2     = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/Bowtie2Index/"
            star        = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/STARIndex/"
            bismark     = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Sequence/BismarkIndex/"
            gtf         = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.gtf"
            bed12       = "${params.igenomes_base}/Homo_sapiens/NCBI/GRCh38/Annotation/Genes/genes.bed"
            mito_name   = "chrM"
            blacklist   = "${projectDir}/assets/blacklists/v3.0/hg38-blacklist.v3.bed"
            macs_gsize = "2.7e9" 
        }
    }
}
